.rightbar {
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(175, 171, 171);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(120, 120, 120);
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  height: 40px;
  width: 40px;
}

.birthdayText {
  font-weight: 300;
  font-style: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.rightbarTitle {
  margin-bottom: 20px;
}

.onlineFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lawngreen;
  position: absolute;
  top: -2;
  right: 0;
  border: 2px solid white;
}

.rightbarUserName {
  font-weight: 500;
}

/* ///// */

.RightbarTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarinfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
}

.rightbarInfoValue {
  font-weight: 300;
  color: #555;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.FollowingName {
  font-size: 13px;
  font-weight: 600;
}
